/*
body {
    background-image: url('/images/Fondo oscuro 1.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
*/

/*

:root[data-theme="light"] {
    --gray-300: 220, 220, 220 !important;
    --gray-400: 240, 240, 240 !important;
    --gray-500: 255, 255, 255 !important;
}


:root[data-theme="dark"] {
    --gray-300: 220, 220, 220 !important;
    --gray-400: 240, 240, 240 !important;
    --gray-500: 255, 255, 255 !important;
}


.filament-sidebar {
    --filament-sidebar-item-color: rgb(255, 255, 255) !important;
    --filament-sidebar-item-icon-color: rgb(255, 255, 255) !important;
    --filament-sidebar-group-color: rgb(255, 255, 255) !important;
}

*/




